.aside-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.aside-container__card1 {
  padding: 15px 0px 20px 15px;
  border-radius: 10px 10px;
  background-color: white;
  border-width: 1px;
  border-color: hsl(0, 0%, 90%);
  border-style: solid;
}

.aside-container__title {
  font-size: 18px;
  font-weight: bold;
  margin: unset;
  height: 20px;
}

.aside-container__heading {
  font-size: 14px;
  font-weight: bold;
  margin: unset;
  margin-top: 10px;
  height: 20px;
}

.aside-container__subHeading {
  font-size: 12px;
  margin: unset;
  margin-top: 5px;
  margin-left: 15px;
  height: 20px;
  color: hsl(0, 0%, 50%);
}

.show-more {
  font-size: 15px;
  margin: unset;
  margin-top: 10px;
  font-weight: bold;
  height: 20px;
  color: hsl(0, 0%, 50%);
}

.aside-container__card2 {
  border-radius: 10px 10px;
  border-width: 1px;
  border-color: hsl(0, 0%, 90%);
  border-style: solid;
  background-color: white;
}

.aside-container__card2-image {
  border-radius: 10px 10px;
  width: 100%;
  height: 100%;
}
